.dashboard-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container .container-title {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@import "../../styles/global.css";

.header-content {
  background-color: var(--box-color);
  width: 100%;
  height: 70px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.header-content div {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-content text {
  text-align: center;
}

.content-body {
  background-color: var(--box-color);
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content-body .title {
  font-size: 24px;
}

.content-body text + div {
  margin-top: 15px;
}

.content-body div {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-body div text + text {
  width: 150px;
  text-align: center;
}

.modal-item,
.modal-item-theme {
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: filter 0.2s;
}

.modal-item:hover {
  opacity: 0.6;
}

.modal-item-theme {
  cursor: auto;
}

.circle-theme-green,
.circle-theme-dark,
.circle-theme-light {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
}

.circle-theme-green {
  background-color: #00ab68;
}

.circle-theme-dark {
  background-color: #333;
}

.circle-theme-light {
  background-color: #fff;
}
