.grid-item-dashboard {
  background-color: var(--box-color);
  border-radius: 5px;
  padding: 15px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.grid-item-dashboard .list {
  list-style: none;
  height: 100%;
  overflow: auto;
  padding: 10px 10px 10px 0px;
}

.grid-item-dashboard .list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.grid-item-dashboard .list li .expense-today-title {
  margin: 0;
}

.grid-item-dashboard .list li .expense-today-text {
  text-align: end;
  margin: 0;
}

.grid-item-dashboard button {
  display: flex;
  flex-direction: row;
  border: 0;
  justify-content: space-between;
  height: auto;
  width: 120px;
  align-items: center;
}

.grid-item-dashboard button label {
  cursor: pointer;
}

.action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
