@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  --primary-color: #00a86b;
  --secundary-color: #ffffff;
  --tertiary-color: "#dae0da";
}

body {
  background-color: var(--primary-color);
}

header {
  width: 90%;
  height: 100px;
  color: var(--secundary-color);
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 80%;
  min-width: 150px;
  height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: "#FFF";
  padding-left: 10px;
  font-size: medium;
}

button {
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  border: 0;
  margin: 0;
  font-size: large;
  transition: filter 0.3s;
}

button:hover {
  filter: brightness(90%);
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}

.button-secundary {
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.button-outline {
  border: 1px solid #00a86b;
  background-color: transparent;
  color: #00a86b;
}

.button-icon {
  border: 0;
  width: 36px;
  background-color: transparent;
  color: var(--secundary-color);
  margin: 0;
  margin-left: 5px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background: var(--primary-color);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
