@import "../../styles/global.css";

.expenses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
  margin-top: 20px;
}

.expenses li {
  height: 100px;
  background-color: var(--box-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.expenses li button {
  position: absolute;
  width: 24px;
  height: 24px;
  align-self: flex-end;
}

.expenses li text {
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
