@import "../../styles/global.css";
.login-body {
  width: 40%;
  min-width: 300px;
  height: 100%;
  min-height: 450px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  color: #00a86b;
  font-size: large;
  padding: 10px;
  overflow: auto;
}

.login-body form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-body form input {
  margin-top: 5px;
  margin-bottom: 15px;
}

.login-body form button {
  margin-top: 20px;
}

.label-error {
  width: 80%;
  padding: 15px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  background-color: #55EE55BB;
  border-radius: 5px;
  margin-bottom: 20px;
}