.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .body-modal {
  background-color: var(--box-color);
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00a86b;
  padding-bottom: 20px;
}

.modal .box-button {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}

.modal .box-text-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  min-width: 390px;
}

.modal .box-text-area textarea {
  width: 200px;
  height: 100px;
  resize: none;
  margin-top: 5px;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  vertical-align: top;
  border: none;
  background-color: #EFEFEF;
}

.modal .box-label, .modal .box-color {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  min-width: 390px;
}

.modal .box-label label, .modal .box-color label, .modal .box-text-area label {
  font-weight: bold;
  margin-left: 0;
  width: 120px;
  color: #00a86b;
}

.modal .box-label input {
  border: none;
  background-color: #EFEFEF;
  width: 200px;
}

.modal .box-label select {
  border: none;
  background-color: #EFEFEF;
  width: 200px;
  height: 40px;
  margin: 0;
  margin-top: 5px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}

.modal .box-color input {
  border: none;
  padding: 0;
  width: 200px;
  background-color: transparent;
}

.menu .box-button-add {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}